# CVE Data
input/*
output/
.env
data/
packages/sbom-gap-cli/vulnerability-reports/*
node_modules/
binwalk-reports

# Schemas DIR
/packages/schemas/output
packages/sbom-gap-cli/Sbom-GAP-Firmware-Prediction-Model/notebooks/cve_database.db
**/data/

packages/sbom-gap-cli/config/*